*{
    box-sizing: border-box;
}
body
{
    margin: 0;
}
#kontejner
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.kont-header
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.kont-home
{
    display: flex;
    flex-direction: column;
    z-index: -1;
    background-color: #afdaee;
}
.logoilinkovi
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #afdaee;

}
nav
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #afdaee;
    flex-shrink: 3;

}
ul
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #afdaee;

}
li{
    margin-top: 15px;
    margin-right: 30px;
    flex-shrink: 0;
    background-color: #afdaee;

}
a{
    text-decoration: none;
    font-size: 15px;
}
header
{
    background-color: #afdaee;
    padding-right: 200px;
    padding-left: 200px;
    
}
.logo
{
    padding-top: 10px;
    margin-right: 150px;
    flex-shrink: 0;
}
#home 
{
    display: flex;
    flex-direction: row;
    background-color: #afdaee;
    flex-wrap: wrap;
    padding-left: 200px;
    
}

img{
    max-width: 100%;
    height: auto;
}

.textidugme
{
    margin-top: 70px;
    margin-right: 200px;
    width: 300px;
}

.textidugme h2
{
    font-size: 30px;
    word-break: break-word;
    width: 350px;
}
.textidugme p
{
    font-size: 20px;
    word-break: break-word;
    width: 400px;
}
.raketa, .zvezdice, .dvaoblaka
{
    flex-shrink: 0;
}
.sveokorakete
{
    position: relative;
    flex-shrink: 0;
    bottom: 100px;
    right: 50px;

}
.raketa
{
    position: relative;
    top:30px;
    left: 100px;
}
.dvaoblaka
{
    position: relative;
    bottom:180px;
    left: 50px
}
.zvezdice
{
    position: relative;
    top: 120px;
    left: 40px;
}
.oblaci
{
    position: relative;
    top: 5px;
}
.dugme
{
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
.kont-wwd
{
    display: flex;
    flex-direction: column;
    z-index: -1;
    background-color: white;
}
#wwd
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 200px;
    padding-right: 100px;
    align-items: stretch;
}
#wwd .naslov
{
    
    color: silver;
    margin-top: 100px;
    margin-left: 390px;
}
#wwd .podnaslov
{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 220px;
    font-size: 25px;
    word-break: break-word;
    width: 500px;
    text-align-last: center;
}
.usluge
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.usluge p
{
    font-size: 13px;
    word-break: break-word;
    width: 230px;
}
.usluge h3
{
    font-size: 20px;
}
.seo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.web
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.social
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ikonica
{
    margin: 5px;
    width: 61px;
    height: 60px;
    mask-image: url(D:/Fakultet/Praksa/IngternshipFEtest2020/images/blob1.svg);
    mask-size: 305px;
    mask-position: 0 0;
    mask-repeat: no-repeat;
    border-radius: 15px 30px;
    
}
.lupa
{
    background-color: rgb(245, 180, 220);

}
.socijala
{
    background-color: rgb(218, 255, 223);
}
.why_chose_us
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.why_chose_us .text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.why_chose_us .text .naslov1
{
    color: silver;
}

.why_chose_us .text .podnaslov1
{
    word-break: break-word;
    width: 430px;
    font-size: 25px;
}

.why_chose_us p
{
    font-size: 15px;
    word-break: break-word;
    width: 430px;

}
.zasliku
{
    width: 50%;
    flex-basis: 430px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 50px;
}
.slika
{ 
    flex-shrink: 0; 
}
.stikla
{
    width: 15px;
    height: 15px;
    
}
.stikliranje
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.stikliranje p
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
.our_process
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.our_process .text
{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}
.our_process .text .naslov2
{
    color: silver;
}
.our_process .text .podnaslov2
{
    width: 350px;
    word-break: break-word;
    font-size: 25px;
}
.ikoniceiopisi
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.ikoniceiopisi .ikonica
{
    width:60px;
    height: 60px;
    margin-right: 20px;
    background-color: skyblue;
}
.ikoniceiopisi .opis
{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}
.ikoniceiopisi .opis h4
{
    margin-top: 0;
    margin-bottom: 10px;
}
.ikoniceiopisi .opis p
{
    width: 350px;
    word-break: break-word;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.ikoniceiopisi .ikonica .broj
{
    background-color: teal;
    color: white;
    width: 20px;
    height: 20px;
    border-radius:50%;
    text-align: center;
    position: relative;
    top: 45px;
    left: 10px;
}
.our_personalized_solutions
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
}
.our_personalized_solutions .text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.our_personalized_solutions .text .naslov3
{
    color: silver;
}

.our_personalized_solutions .text .podnaslov3
{
    word-break: break-word;
    width: 430px;
    font-size: 25px;
}

.our_personalized_solutions p
{
    font-size: 15px;
    word-break: break-word;
    width: 430px;
}
.kont-cs
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-image: linear-gradient(rgb(224, 255, 255), white);
}
#cs
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 50px;
}
#cs .naslov5
{
    color: silver;
    align-self: center;

}
#cs .podnaslov5
{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
    word-break: break-word;
    width: 470px;
    text-align-last: center;
    align-self: center;
}
#cs .kartice
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#cs .kartica
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 20px;
}
#cs .kartica .text
{
    font-size: 13px;
    word-wrap: break-word;
    width: 200px;
}

.slicicaiime
{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slicica
{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.slicica img
{
    mask-image: url(D:/Fakultet/Praksa/IngternshipFEtest2020/images/blob1.svg);
    mask-position: 0 50;
    mask-repeat: no-repeat;
    mask-size: 55px;
    border-radius: 50%;
}
.ime
{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
}
.pozicija
{
    color: silver;
}
#pr
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#pr .text
{
    width: 41.677777%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#pr .text .naslov4
{
    color: silver;
    margin-bottom: 20px;
}
#pr .text .podnaslov4
{
    margin-bottom: 40px;
    word-wrap: break-word;
    font-size: 25px;
    width: 350px;
}
#pr .text p
{
    font-size: 13px;
    word-wrap: break-word;
    width: 350px;

}
#pr .kartice
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#pr .kartica
{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 5px;
}
#pr .kartica .premium h5
{
    font-size: 15px;
}
#pr .kartica .basic h5
{
    font-size: 15px;
}
#pr .kartica .premium p
{
    margin: 0;
    font-size: 10px;
}
#pr .kartica .basic p
{
    margin: 0;
    font-size: 10px;
}
#pr .kartica .stavke p
{
    margin: 0;
    text-align: center;
    font-size: 10px;

}
#pr .kartica .basic{
    margin-bottom: 20px;
    text-align: center;
}
#pr .kartica .premium{
    margin-bottom: 20px;
    text-align: center;
}
#pr .kartica .dugme
{
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
}
#pr .kartica .premium p strong
{
    margin: 0;
    font-size: 25px;
}
#pr .kartica .basic p strong
{
    margin: 0;
    font-size: 25px;
}
.lets_talk
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}
.lets_talk .zasliku
{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.lets_talk .zasliku .slika img
{
    flex-shrink: 0;
}
.lets_talk .textidugme
{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lets_talk .textidugme .naslov6
{
    color: silver;
    margin-bottom: 20px;
}
.lets_talk .textidugme .podnaslov6
{
    font-size: 25px;
    word-wrap: break-word;
    width: 440px;
    margin-bottom: 40px;
}
.lets_talk .textidugme p
{
    font-size: 15px;
    word-wrap: break-word;
    width: 440px;
}

.lets_talk .textidugme .dugme
{
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    cursor: pointer;
}
.kont-analize
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-image: linear-gradient(rgb(224, 255, 255), white);
}
.analize-now
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.analize-now .naslov7
{
    color: silver;
    margin-bottom: 20px;
}
.analize-now .podnaslov7
{
    text-align-last: center;
    width: 600px;
    margin-bottom: 30px;
}
input[type *= "email"]
{
    width: 400px;
    background-color:  white; 
    border: none;
    border-radius: 50px;
    color: silver;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
}
input[type *= "submit"]
{
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
form
{
    margin-bottom: 100px;
}
.kont-analize .zasliku
{
    width: 100%;
}
.kont-footer
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
footer
{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    font-size: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.popular_posts
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.popular_posts .naslov8
{
    margin-bottom: 20px;
}
.popular_posts .slikaitext
{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.popular_posts .slikaitext .slika
{
    width: 50px;
    margin-right: 10px;
}
.popular_posts .slikaitext .text p
{
    color: silver;
    margin-bottom: 5px;
}
.popular_posts .slikaitext .text .datumikomentari
{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    word-wrap: none;
}
.popular_posts .slikaitext .text .datumikomentari .slikasata
{
    margin-right: 3px;
}
.popular_posts .slikaitext .text .datumikomentari .datum
{
    margin-right: 8px;
    color: silver;
   
}
.popular_posts .slikaitext .text .datumikomentari .tackica
{
    margin-right: 8px;
    color: silver;
    
}
.popular_posts .slikaitext .text .datumikomentari .slikakomentara
{
    width: 12px;
    height: 12px;
    color: silver;
    margin-right: 5px;
    
}
.popular_posts .slikaitext .text .datumikomentari .broj
{
    color: silver;
}
.tags_i_categories
{
    display: flex;
    flex-direction: column;
}
.tags_i_categories .tags
{
    display: flex;
    flex-direction: column;
}
.tags_i_categories .tags .naslov8
{
    margin-bottom: 20px;
}
.tags_i_categories .tags .dugmici
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 220px;
}
.tags_i_categories .tags .dugmici .dugme1
{
    width: 100px;
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags_i_categories .tags .dugmici .dugme2
{
    width: 80px;
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags_i_categories .tags .dugmici .dugme3
{
    width: 80px;
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags_i_categories .tags .dugmici .dugme4
{
    width: 120px;
    background-color:  #5ca7db; 
    border: none;
    border-radius: 50px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tags_i_categories .categories
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 0;
}
.tags_i_categories .categories .levoidesno
{
    display: flex;
    flex-direction: row;
}

.tags_i_categories .categories .levoidesno .levo ul
{
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    background-color: white;
}
.tags_i_categories .categories .levoidesno .levo ul li
{
    background-color: white;
}
.tags_i_categories .categories .levoidesno .desno ul
{
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    background-color: white;
}
.tags_i_categories .categories .levoidesno .desno ul li
{

    background-color: white;
}
.tags_i_categories .categories .levoidesno .desno
{
    margin-left: 40px;
}
.get_in_touch_i_elsewhere
{
    display: flex;
    flex-direction: column;
}
.get_in_touch
{
    display: flex;
    flex-direction: column;
}
.get_in_touch .naslov8
{
    margin-bottom: 20px;
}
.get_in_touch p
{
    margin: 0;
}
.get_in_touch .odvoji
{
    margin-bottom: 40px;
}
.elsewhere
{
    display: flex;
    flex-direction: column;
}
.elsewhere .naslov8
{
    margin-bottom: 30px;
}
.elsewhere .ikonice
{
    display: flex;
    flex-direction: row;
}
.elsewhere .ikonice .ikonica
{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.learn_i_help
{
    display: flex;
    flex-direction: column;
}
.learn_i_help .learn
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.learn_i_help .learn .naslov8
{
    margin-bottom: 20px;
}
.learn_i_help .learn p
{
    margin-bottom: 0;
}

.learn_i_help .help
{
    display: flex;
    flex-direction: column;
}
.learn_i_help .help .naslov8
{
    margin-bottom: 20px;
}
.learn_i_help .help p
{
    margin-bottom: 0;
}
.copy  
{
    align-self: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
@media only screen and(max-width: 600px)
{
    header
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    #home
    {
        padding-left: 20px;
    }
    #wwd
    {
        padding-left: 20px;
        padding-right: 10px;
    }
    #cs
    {
        margin-left: 20px;
        margin-right: 10px;
    }
    footer
    {
        margin-left: 20px;
    }
}



